h1,
h2,
h4,
p,
div {
    text-align: center;
    font-family: "Courier"
}
h1,
p,
div {
    color: #ff0000;
}
h2 {
    color: #660000;
}
h4 {
    color: #7f0000;
}
ul {
    text-align: left;
    color: #ff0000;
    font-family: "Courier"
}
body {
    background-color: #000000;
    font-family: "Sans-Serif";
}
.pages {
    float: center;
    text-align: center;
}